@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: #d8d8db;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    padding: 2rem;
}

h1 {
    padding: 1rem;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    width: 300px;
}

.card-body {
    padding: 1rem;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.card-img-top {
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.icons {
    font-size: 1.5rem;
    margin: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

i {
    margin: 0 0.5rem;
    cursor: pointer;
}

.animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
}

.hidden {
    display: none;
}